<div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center" style="padding-bottom: 100px !important;">
            <a routerLink="/" class="mb-12">
                <img alt="Logo" src="assets/images/icon-logo.jpg" class="h-100px" />
            </a>
            <div class=" rounded shadow-sm p-5 mx-auto">
                <div class="text-center mb-10">
                    <h1 class="text-dark mb-3" style="font-size: 50px;">XYZ CLINIC</h1>
                    <div class="text-gray-400 my-5 fw-bold fs-4">Clinic Mangement System</div>
                </div>

                <div class="fv-row mb-10 text-center">
                    <a routerLink="/auth/admin/login" class="m-2 btn btn-primary"><i class="fa fa-user-plus"></i> Admin
                        Login</a>
                    <a routerLink="/auth/user/login" class="m-2 btn btn-primary"><i class="fa fa-user-circle"></i>
                        Employee Login</a>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center flex-column p-10">
            <div class="d-flex align-items-center fw-bold fs-6">
                <a href="javascript:;" class="text-muted text-hover-primary px-2">Privacy Policy</a>
                <a href="javascript:;" class="text-muted text-hover-primary px-2">Terms & Condition</a>
                <a href="javascript:;" class="text-muted text-hover-primary px-2">Contact Us</a>
            </div>
            <div class="d-flex align-items-center fw-bold fs-6">
                <span class="text-gray-400 fw-bold me-1">Copyright © {{ currentYear }} | All Rights Reserved</span>
            </div>
        </div>
    </div>
</div>